package ${package}.${moduleName}.service;


import java.util.Map;

/**
 * ${className}Service
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 * @since ${since}
 */
@RequestMapping("${className}Service")
public interface ${className}Service {

}

